<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Track Separator Tool</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body id="wrapper">
    <div id="content">
      <h1>Track Separator</h1>
      <div id="subtitle">
        <p>Harness the power of machine learning to split any audio file into its respective tracks!</p>
        <p>Upload a music track, select how you want it to be split, and download the result.</p>
      </div>
      <form action="/" method="post" enctype="multipart/form-data" class="box" id="inputForm">
        <label for="inputFile">Input File</label>
        <input type="file" name="inputFile"/>
        <label for="inputModel">Spleeter Model</label>
        <div class="selectWrapper">
          <select class="chooseModel" name="inputModel">
            <option value="2stems">2 stems - vocals & accompaniment</option>
            <option value="4stems">4 stems - vocals, drums, bass, other</option>
            <option value="5stems">5 stems - vocals, drums, bass, piano, other</option>
          </select>
        </div>
        <input type="submit" value="split into tracks" id="submit" />
        <input type="hidden" name="pushSubscription" value="" id="pushSubscription"/>
      </form>
      <% if (file) { %>
      <br>
      <div id="results" class="box">
        <p>
          <i class="filename"><%- displayName %></i> has been <span id="first">uploaded</span><span id="second">processed</span> successfully.
        </p>
        <p class="extra">You will recieve a push notification when your stems are ready for download.</p>
        <p class="extra">There are <%- jobsAhead %> jobs ahead of yours in the queue.</p>
        <a href="" id="fileDownload">Click here to download "<%- displayName %>" stems</a>
      </div>
      <% } %>
    </div>
    <footer>
      <p>Uses <a href="https://github.com/deezer/spleeter">Spleeter ML library</a>.</p>
    </footer>
    <script type="application/javascript" src="/main.js"></script>
  </body>
</html>
