<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Track Split Tool</title>
  </head>
  <body>
    <p>File: <%= filename %></p>
    <p>Model used: <%= model %></p>
  </body>
</html>
