html {
  font-size: 1.2rem;
  font-family: arial, sans-serif;
}

h1 {
  letter-spacing: -1px;
  margin-bottom: 1rem;
}

#subtitle {
  margin: 2rem 0;
}

#subtitle p {
  margin: .5rem 0;
}

form {
  font-family: arial, sans-serif;
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 4rem 4rem 3rem;
  grid-column-gap: 1rem;

  background-color: #ccc;
  padding: 1rem;
}

form label {
  font-weight: bold;
}

form input, form select {
  font-size: 1rem;
}

#submit {
  grid-column-start: 1;
  grid-column-end: 3;
}

#wrapper {
  margin: 0 auto;
  max-width: 40rem;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}
