html {
  font-size: 1.2rem;
  font-family: arial, sans-serif;
}

h1 {
  letter-spacing: -1px;
  margin-bottom: 1rem;
}

a {
  color: #1e88e5;
}

#subtitle {
  margin: 2rem 0;
}

#subtitle p {
  margin: .5rem 0;
}

form {
  font-family: arial, sans-serif;
  display: grid;
  grid-template-columns: 2.5fr 7.5fr;
  grid-template-rows: 4rem 4rem 3rem;
  grid-column-gap: 1rem;
}

form label {
  font-weight: bold;
}

form input, form select {
  font-size: 1rem;
}

#submit {
  /* reset input styling */
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;

  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #1e88e5;
  color: #fff;
  border-radius: 5px;
}

#submit:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#results p, #results a {
  line-height: 2rem;
  margin: 0;
}

.box {
  background-color: #eee;
  padding: 2rem;
}

.filename {
  color: forestgreen;
}

#wrapper {
  margin: 0 auto;
  max-width: 40rem;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

#fileDownload, #second {
  display: none;
}
